/*Form Section ----------------------------------------------------------*/

input[type="text"], input[type="number"] {
    background:rgba(0,0,0,0);
    border:0px solid #fff;
    color:#000;
    background-image: url(../img/input-box.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#form {
  background-color: #305882;
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.robot-comment {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40%;
  background-color: #fff;
  text-align: center;
}
.robot-comment .content {
  width: 70%;
}
.robot-comment .content img {
  width: 100%;
}
.robot-comment .content li {
  margin-bottom: 10%;
}
.form-question {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60%;
  text-align: center;
}
.form-question .content {
  width: 90%;
}
.form-question .content li {
  margin-bottom: 5%;
}
.form-question .content li .title {
  font-size: 2vw;
  font-weight: 600;
  font-family: bungee;
  width: 100%;
    height: 11vw;
    line-height: 11vw;
    padding-left: 5%;
  color: #305882;
  background-image: url(../img/robot-balloon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.form-question .content form input[type="text"],
.form-question .content form input[type="number"] {
    font-size: 2.3vw;
    width: 90%;
    height: 7vw;
    text-align: center;
    border-radius: 50px;
    font-family: exo2;
}
.form-question .content form input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*Custom jquery autocomplete*/
.ui-menu .ui-menu-item{
  font-size: 2vw;
  font-family: exo2;
}
.form-question .progress-div {
  width: 90%;
   bottom: 0;
}

label {
  border: 0px solid #fff !important;
  padding: 1em 2em;
  background: url(1x1.gif) center/contain no-repeat;
  font-family: bungee, sans-serif;
  font-size: 1.7vw;
  color: #fff;
  text-align: center;
  outline: 0;
  padding-bottom: -5px;
  transition: 0.1s;
}
label:active {
  border: 0px solid #fff !important;
  cursor: pointer;
}
label:hover {
  box-shadow: 0px 0px 0px #fff;
  transform: scale(1.05);
  cursor: pointer;
}
input[type="radio"]:checked + label{
  filter: opacity(0.5);
  color: rgba(255,255,255,0.5);
}