body {
	margin: 0px; 
	background-color: #44b6ec;
}


/* Menu section*/
#menu {

}

.ceara2050-btn {
	position: absolute;
	top: 5%;
	left: 5%;
}

.sound-btn {
	position: absolute;
	top: 5%;
	right: 5%;
}

.menu-center {
	width: 50%;
	margin: 5% auto 1%;
	list-style: none;
	text-align: center;
	padding: 0px;
}

.menu-center .menu-img {
	margin-bottom: 30px;
	width: 70%;
	
}

.play-btn {
	margin-bottom: 30px;
}

#counter {
	background-image: url(../img/counter.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-x: 20%;
    width: 70%;
    height: 150px;
    margin: 0px auto;

    font-size: 5em;
    font-weight: bold;
}

/* Mapa Section*/

#mapa{

}

#imgMapa{
	position: absolute;
	margin-left: 60vw;
	margin-top: 10vh;

}

#imgPeca1{
	position: absolute;
	margin-top: 20vh;
	margin-left: 20vw;

}

#imgPeca2{
	position: absolute;
	margin-top: 40vh;
	margin-left: 40vw;

}

#imgPeca3{
	position: absolute;
	margin-top: 33vh;
	margin-left: 30vw;

}



#imgPeca1x{
	position: absolute;
	margin-left: 70.25vw;
	margin-top: 55.42vh;
	visibility:hidden ;

}

#imgPeca2x{
	position: absolute;
	margin-left: 61.27vw;
	margin-top: 26.55vh;
	visibility:hidden ;	
}

#imgPeca3x{
	
	position: absolute;
	margin-left: 60vw;
	margin-top: 10.1vh;
	visibility:hidden;
	
}

























