/*Fonts ----------------------------------------------------------*/
@font-face {
   font-family: bungee;
   src: url(../fonts/Bungee-Regular.otf);
}

@font-face {
   font-family: exo2;
   src: url(../fonts/Exo2-Regular.otf);
}

/*General ----------------------------------------------------------*/
body {
	margin: 0px;
	list-style: none;
}
.centered {
	position: absolute;          
    left: 50%;                                  
    top: 50%;
    transform: translate(-50%, -50%);
}
.centeredX {
	position: absolute;          
    left: 50%;                                  
    transform: translateX(-50%);
}
.centeredY {
	position: absolute;                                           
    top: 50%;
    transform: translateY(-50%);
}

/*Buttons ----------------------------------------------------------*/
button, input[type="button"], input[type="radio"] {
  border: 0px solid #fff !important;
  padding: 1em 2em;
  background: url(1x1.gif) center/contain no-repeat;
  font-family: bungee, sans-serif;
  font-size: 1.7vw;
  color: #fff;
  text-align: center;
  outline: 0;
  padding-bottom: -5px;
  transition: 0.1s;
}
button:active:not(:disabled), input[type="button"]:not(:disabled) {
  border: 0px solid #fff !important;
  cursor: pointer;
}
button:hover:not(:disabled), input[type="button"]:not(:disabled) {
  box-shadow: 0px 0px 0px #fff;
  transform: scale(1.05);
  cursor: pointer;
}
.action.blue {background-image: url(../img/buttons/action-blue.png);}
.action.blue:hover{background-image: url(../img/buttons/action-hover-blue.png);}
.action.blue:active{background-image: url(../img/buttons/action-active-blue.png);}
.action.orange {background-image: url(../img/buttons/action-orange.png);}
.action.orange:hover{background-image: url(../img/buttons/action-hover-orange.png);}
.action.orange:active{background-image: url(../img/buttons/action-active-orange.png);}

button.toggle {
  padding: 2em 2em;
  font-size: 1.3vw;
}
button.toggle.close {background-image: url(../img/buttons/toggle-close.png);}
button.toggle.close:hover{background-image: url(../img/buttons/toggle-close-hover.png);}
button.toggle.close:active{background-image: url(../img/buttons/toggle-close-active.png);}

button.toggle.home {background-image: url(../img/buttons/toggle-home.png);}
button.toggle.home:hover{background-image: url(../img/buttons/toggle-home-hover.png);}
button.toggle.home:active{background-image: url(../img/buttons/toggle-home-active.png);}

button.toggle.info {background-image: url(../img/buttons/toggle-info.png);}
button.toggle.info:hover{background-image: url(../img/buttons/toggle-info-hover.png);}
button.toggle.info:active{background-image: url(../img/buttons/toggle-info-active.png);}

button.toggle.mute {background-image: url(../img/buttons/toggle-mute.png);}
button.toggle.mute:hover{background-image: url(../img/buttons/toggle-mute-hover.png);}
button.toggle.mute:active{background-image: url(../img/buttons/toggle-mute-active.png);}

button.toggle.ok {background-image: url(../img/buttons/toggle-ok.png);}
button.toggle.ok:hover{background-image: url(../img/buttons/toggle-ok-hover.png);}
button.toggle.ok:active{background-image: url(../img/buttons/toggle-ok-active.png);}

button.toggle.pause {background-image: url(../img/buttons/toggle-pause.png);}
button.toggle.pause:hover{background-image: url(../img/buttons/toggle-pause-hover.png);}
button.toggle.pause:active{background-image: url(../img/buttons/toggle-pause-active.png);}

button.toggle.play {background-image: url(../img/buttons/toggle-play.png);}
button.toggle.play:hover{background-image: url(../img/buttons/toggle-play-hover.png);}
button.toggle.play:active{background-image: url(../img/buttons/toggle-play-active.png);}

button.toggle.repeat {background-image: url(../img/buttons/toggle-repeat.png);}
button.toggle.repeat:hover{background-image: url(../img/buttons/toggle-repeat-hover.png);}
button.toggle.repeat:active{background-image: url(../img/buttons/toggle-repeat-active.png);}

button.toggle.arrow {background-image: url(../img/buttons/toggle-arrow.png);}
/*button.toggle.arrow:hover{background-image: url(../img/buttons/toggle-arrow-hover.png);}*/
button.toggle.arrow:active{background-image: url(../img/buttons/toggle-arrow-active.png);}

button.toggle.sound {background-image: url(../img/buttons/toggle-sound.png);}
button.toggle.sound:hover{background-image: url(../img/buttons/toggle-sound-hover.png);}
button.toggle.sound:active{background-image: url(../img/buttons/toggle-sound-active.png);}


button.toggle:disabled{
  filter: opacity(0.5);
  cursor: not-allowed;
}
button.toggle.prev {
  margin-right: 5%;
  transform: scaleX(-1);
}



/*Menu Section ----------------------------------------------------------*/
#menu {
   background-color: #44b6ec;
   position: relative;
   width: 100%;
   padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.menu-content {
	width: 50%;
	list-style: none;
	text-align: center;
	padding: 0px;
}

.menu-content img {
	margin-bottom: 5%;
	width: 70%;
}
.ceara2050-btn {
	position: absolute;
	top: 3%;
	left: 3%;
}
.sound-btn {
	position: absolute;
	top: 3%;
	right: 3%;
}
.play-btn {
	margin-bottom: 5%;
}
#counter {
	background-image: url(../img/counter.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-x: 20%;
    width: 70%;
    height: 11vw;
    margin: 0px auto;

    font-size: 6vw;
    font-weight: bold;
}

/*Mapa Section ----------------------------------------------------------*/
#mapa{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #44b6ec;

}
#imgMapa{
	position: absolute;
	margin-left: 60%;
	margin-top: 10%;

}
#imgPeca1{
	position: absolute;
	margin-top: 20%;
	margin-left: 20%;

}
#imgPeca2{
	position: absolute;
	margin-top: 40%;
	margin-left: 40%;

}
#imgPeca3{
	position: absolute;
	margin-top: 33%;
	margin-left: 30%;

}
#imgPeca1x{
	position: absolute;
	margin-left: 68.9%;
	margin-top: 30.7%;
	//visibility:hidden ;
}

#imgPeca2x{
	position: absolute;
	margin-left: 61.1%;
	margin-top: 17.55%;
	//visibility:hidden ;	
}
#imgPeca3x{
	position: absolute;
	margin-left: 60%;
	margin-top: 10.1%;
	//visibility:hidden;	
}


/*Desafio Lixos Section ----------------------------------------------------------*/

#desafiolixos{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("../img/cenario-lixo.jpg");
	background-repeat: no-repeat;
  background-size: cover;

}


#lixometal{
background-color: yellow;
width: 10%;
height: 25%;
position: absolute;
margin-top: 75vh;
margin-left: 15%;	

}

#lixopapel{
background-color: #0099ff;
width: 10%;
height: 25%;
position: absolute;
margin-top: 75vh;
margin-left: 30%;	
}

#lixoplastico{
background-color: #ff3333;
width: 10%;
height: 25%;	
position: absolute;	
margin-top: 75vh;
margin-left: 45%;
}
	


#lixovidro{
background-color: #33cc33;
width: 10%;
height: 25%;	
position: absolute;	
margin-top: 75vh;
margin-left: 60%;
}
	

#lixoorganico{
background-color: #996633;
width: 10%;
height: 25%;
position: absolute;	
margin-top: 75vh;
margin-left: 75%;

}

#papel{
	position: absolute;
	width: 5%;
	margin-top: 60vh;
	margin-left: 15%;

}

#vidro{
	position: absolute;
	width: 5%;
	margin-top: 60vh;
	margin-left: 25%;

}

#metal{
	position: absolute;
	width: 5%;
	margin-top: 60vh;
	margin-left: 35%;

}

#plastico{
	position: absolute;
	width: 5%;
	margin-top: 60vh;
	margin-left: 45%;

}

#organico{
	position: absolute;
	width: 5%;
	margin-top: 60vh;
	margin-left: 55%;

}




















