<section id="comment"> 
	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>
	
	<div class="robot-comment">
		<div class="content centered">
			<div class="content-left">
				<li><img id="img" src="img/comment/robot-body.png" title="Robot"></li>
			</div>
			
			<div class="content-right">
				<li><div id="text-comment"></div></li>
				<li><div id="more">
					<button id='go-comment'  onclick="playAudioButton()" class='action blue'>Vamos lá!</button>
				</div></li>					
			</div>
			
		</div>
	</div>
</section>
