<section id="desafiocasa">
	<div class="sound-btn"><button class="toggle sound"></button></div>	

	
	<img class="All_collid" id="plantacasa" src="img/desafios/economia/Planta Casa/plantacasa_eco.png">
	<img class="All_collid" id="icon_bola" src="img/desafios/economia/Planta Casa/item1_eco_bom.png">
	<img class="All_collid" id="icon_bola2" src="img/desafios/economia/Planta Casa/item1_eco_ruim.png">
	<img class="All_collid" id="icon_dog" src="img/desafios/economia/Planta Casa/item4_eco_bom.png">
	<img class="All_collid" id="icon_vo" src="img/desafios/economia/Planta Casa/item2_eco_bom.png">
	<img class="All_collid" id="icon_vaso" src="img/desafios/economia/Planta Casa/item2_eco_ruim.png">
	<img class="All_collid" id="icon_pirulito" src="img/desafios/economia/Planta Casa/item3_eco_ruim.png">
	<img class="All_collid" id="icon_biscoito" src="img/desafios/economia/Planta Casa/item3_eco_bom.png">

	<div id="divplantacasa"></div>
	<img id="icon_pers_move" src="img/desafios/economia/Planta Casa/cabeca_robo.png">


	<img id="imgtexto_maismoedas" src="img/desafios/economia/Planta Casa/rectmoeda_maior.png">
	<div id="txt_maismoedas"></div>
	
	<img id="totalmoedas" src="img/desafios/economia/Planta Casa/rectmoeda_menor.png">
	<img id="ic_moeda" src="img/desafios/economia/Planta Casa/moeda_eco.png">
	<div id="qtd_moeda">0</div>
	
	

	<!-- Robot help -->
		<div id="help" style="display: none;">
			<div class="backdrop">
				<div class="robot-help">
					<div class="content">
						<li><h4></h4></li>
						<li><p></p></li>	
					</div>
					<button id='repeat-btn' class='toggle repeat'></button>
					<button id='close-btn' class='toggle exit'></button>
				</div>
			</div>
			<div id="robot-help-mini" style="display: none;">
				<img src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
			</div>
		</div>

	
	
		
	</section>