<section id="desafioescolafora">
	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>

		<img id="escolafora_antes" src="img/desafios/educacao/Escolafora/escolafora_antes.png">

		<img class="imagensEF" id="escolafora_pintada" src="img/desafios/educacao/Escolafora/escolafora_pintada.png">
		<img class="imagensEF" id="rampaacessibilidade" src="img/desafios/educacao/Escolafora/rampaacessibilidade.png">
		<img class="imagensEF" id="lixeirasseletivas" src="img/desafios/educacao/Escolafora/lixeirasseletivas.png">
		<img class="imagensEF" id="parquinhoescola" src="img/desafios/educacao/Escolafora/parquinho.png">
		<img class="imagensEF" id="hortaescola" src="img/desafios/educacao/Escolafora/horta.png">
		<img class="imagensEF" id="onibusescolar" src="img/desafios/educacao/Escolafora/onibusescolar.png">
		<img class="imagensEF" id="arvoreescola1" src="img/desafios/educacao/Escolafora/arvores1.png">
		<img class="imagensEF" id="arvoreescola2" src="img/desafios/educacao/Escolafora/arvores2.png">

		<img id="barradeitensEscola" src="img/desafios/educacao/barradeitens.png">



		<button class="iconNormalF btnAcessibilidade1" id="icon_acessibilidade1"></button>
		<button class="iconNormalF btnPintar1" id="icon_pintar1"></button>
		<button class="iconNormalF btnArborizar1" id="icon_arborizar1"></button>
		<button class="iconNormalF btnOnibus1" id="icon_onibus1"></button>
		<button class="iconNormalF btnHorta1" id="icon_horta1"></button>
		<button class="iconNormalF btnParque1" id="icon_parquinho1"></button>
		<button class="iconNormalF btnLixo1" id="icon_lixo1"></button>

		<button class="iconCheckF btnAcessibilidade2" id="icon_acessibilidade2"></button>
		<button class="iconCheckF btnPintar2" id="icon_pintar2"></button>
		<button class="iconCheckF btnArborizar2" id="icon_arborizar2"></button>
		<button class="iconCheckF btnOnibus2" id="icon_onibus2"></button>
		<button class="iconCheckF btnHorta2" id="icon_horta2"></button>
		<button class="iconCheckF btnParque2" id="icon_parquinho2"></button>
		<button class="iconCheckF btnLixo2" id="icon_lixo2"></button>


		<div id="AnimacaoClickEscolaFora"></div> 
		<button class="next" id="btnNextEscola"></button>

		<div class="popoverEF" id="blackEscolaFora"></div>
		<img class="popoverEF" id="caixafeedbackEscolaFora" src="img/desafios/educacao/caixafeedback.png">
		<div class="popoverEF" id="minhaescolatemEF">MINHA ESCOLA TEM...</div>
		<img class="popoverEF" id="imgEscolaFora1" src="">
		<img class="popoverEF" id="imgEscolaFora2" src="">
		<img class="popoverEF" id="imgEscolaFora3" src="">
		<img class="popoverEF" id="imgEscolaFora4" src="">
		<img class="popoverEF" id="imgEscolaFora5" src="">
		<div class="popoverEF" id="TxtEscolaFora1"></div>
		<div class="popoverEF" id="TxtEscolaFora2"></div>
		<div class="popoverEF" id="TxtEscolaFora3"></div>
		<div class="popoverEF" id="TxtEscolaFora4"></div>
		<div class="popoverEF" id="TxtEscolaFora5"></div>
		<button id="btnTrocarEF" class="action blue popoverEF">TROCAR</button>
		<button id="btnSalvarEF" class="action blue popoverEF" >SALVAR</button>


		<!-- Robot help -->
		<div id="help" style="display: none;">
			<div class="backdrop">
				<div class="robot-help">
					<div class="content">
						<li><h4></h4></li>
						<li><p></p></li>	
					</div>
					<button id='repeat-btn' class='toggle repeat'></button>
					<button id='close-btn' class='toggle exit'></button>
				</div>
			</div>
			<div id="robot-help-mini" style="display: none;">
				<img src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
			</div>
		</div>

</section>	