<section id="feedback"> 
	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="robot-question">
		<li><img id="img" src="img/robot-placeholder-orange.png" title="Robot"></li>
		<li><div id="text-comment" class="centeredX"><p>
			Você gostou de ajudar o Ceará comigo?
		</p><button class='toggle repeat'></button></div></li>
		<li id="options">
			<button class="action yes"></button>
			<button class="action no"></button>
		</li>
	</div>
	<div class="form-question">
		<div class="content centered" id="question-content">
			<li class='center-title'><h4>Quer contar algo?</h4></li>
      		<li><form><textarea id="feedback-text" name="feedback" placeholder='Pode escrever aqui'></textarea></form></li>
      		<li><button id='questions-next' class='action orange'>Enviar</button></li>
		</div>
	</div>
</section>	