<section id="form"> 
	<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="music-btn"><button class="toggle music"></button></div>
	<div class="robot-arrows">
		<div class="content centered">
			<li><img id="img" src="img/robot-placeholder-orange.png" title="Robot"></li>
			<li>
				<div id="prev-next">
					<button id="prev" class="toggle arrow"></button>
					<button id="next" class="toggle arrow"></button>
				</div>
			</li>
		</div>
	</div>
	<div class="form-question">
		<div class="content centered" id="question-content"></div>
	</div>
</section>	