<section id="desafioRadio">
	<div id="antenaRadio" class="antenaRadio"></div>
		<img class="jornalRua" id="jornalRua1" src="img/desafios/governo/radio/item_jornal.png">
		<img class="jornalRua" id="jornalRua2" src="img/desafios/governo/radio/item_rolojornal.png">
		<img class="jornalRua" id="jornalRua3" src="img/desafios/governo/radio/item_jornal.png">
		<img class="jornalRua" id="jornalRua4" src="img/desafios/governo/radio/item_rolojornal.png">

		<img  id="jornalRua1cesta" src="img/desafios/governo/radio/jornal.png">
		<img  id="jornalRua2cesta" src="img/desafios/governo/radio/rolojornal.png">
		<img  id="jornalRua3cesta" src="img/desafios/governo/radio/jornal.png">
		<img  id="jornalRua4cesta" src="img/desafios/governo/radio/rolojornal.png">
		<div id="AnimacaoClickRadio"></div>

		<img id="cestaRadio" src="img/desafios/governo/radio/cesta_governo.png">


		<!-- Robot help -->
		<div id="help" style="display: none;">
			<div class="backdrop">
				<div class="robot-help">
					<div class="content">
						<li><h4></h4></li>
						<li><p></p></li>	
					</div>
					<button id='repeat-btn' class='toggle repeat'></button>
					<button id='close-btn' class='toggle exit'></button>
				</div>
			</div>
			<div id="robot-help-mini" style="display: none;">
				<img src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
			</div>
		</div>	
		
</section>