<section id="desafio7erros">
	<div class="sound-btn"><button class="toggle sound"></button></div>	
	<img class="errosX" id="erroX1" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX2" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX3" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX4" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX5" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX6" src="img/desafios/lazer/7erros/marcadorerro.png">
	<img class="errosX" id="erroX7" src="img/desafios/lazer/7erros/marcadorerro.png">
	<div id="AnimacaoClick7erros"></div>
	<div class="divErros" id="erroX1DIV"></div>
	<div class="divErros" id="erroX2DIV"></div>
	<div class="divErros" id="erroX3DIV"></div>
	<div class="divErros" id="erroX4DIV"></div>
	<div class="divErros" id="erroX5DIV"></div>
	<div class="divErros" id="erroX6DIV"></div>
	<div class="divErros" id="erroX7DIV"></div>
	<img id="contador-erros" src="img/desafios/lazer/7erros/contador_erros.png">
	
	<div id="txtContador0">0</div>
	<div id="txtContadorDE" >DE</div>
	<div  id="txtContador7">7</div>

	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>	
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>
</section>