<section id="quiz"> 
	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div class="music-btn"><button class="toggle music"></button></div>
	<div class="badges-about">
		<div class="content">
			<div class="all-badges centeredX">
				<li><img id="sau" onmouseover="playAudioMS()" src="img/quiz/sau-badge.png" title="Amigo da Saúde"></li>
				<li><img id="laz" onmouseover="playAudioMS()" src="img/quiz/laz-badge.png" title="Amigo do Lazer"></li>
				<li><img id="eco"  onmouseover="playAudioMS()" src="img/quiz/eco-badge.png" title="Amigo da Economia"></li>
				<li><img id="mei"  onmouseover="playAudioMS()" src="img/quiz/mei-badge.png" title="Amigo do Meio Ambiente"></li>
				<li><img id="gov"  onmouseover="playAudioMS()" src="img/quiz/gov-badge.png" title="Amigo do Governo"></li>
				<li><img id="edu"  onmouseover="playAudioMS()" src="img/quiz/edu-badge.png" title="Amigo da Educação"></li>
				<li><img id="ino"  onmouseover="playAudioMS()" src="img/quiz/ino-badge.png" title="Amigo da Inovação"></li>
			</div>
			<div class="single-badge centeredX" id="single-badge-details"></div>
		</div>
	</div>
	<div class="quiz-question">
		<!--<div class="sound-btn"><button class="toggle sound"></button></div>-->
		<div id="animacaoRoboQuiz"></div>
		<div class="content centered">
			<div id="prev-next">

				<li><button id="prev"   class="toggle arrow"></button></li>
				<li><img src="img/robot-placeholder-orange1.png" title="Robot"></li>
				<li><button id="next"    class="toggle arrow2"></button></li>
			</div>
			<div id="question-content"></div>
			
		</div>
	</div>





</section>

