<section id="quiz"> 
	<div class="badges-about">
		<div class="content">
			<div class="all-badges centeredX">
				<li><img id="sau" src="img/quiz/sau-badge.png" title="Amigo da Saúde"></li>
				<li><img id="laz" src="img/quiz/laz-badge.png" title="Amigo do Lazer"></li>
				<li><img id="eco" src="img/quiz/eco-badge.png" title="Amigo da Economia"></li>
				<li><img id="mei" src="img/quiz/mei-badge.png" title="Amigo do Meio Ambiente"></li>
				<li><img id="gov" src="img/quiz/gov-badge.png" title="Amigo do Governo"></li>
				<li><img id="edu" src="img/quiz/edu-badge.png" title="Amigo da Educação"></li>
				<li><img id="ino" src="img/quiz/ino-badge.png" title="Amigo da Inovação"></li>
			</div>
			<div class="single-badge centeredX" id="single-badge-details"></div>
		</div>
	</div>
	<div class="quiz-question">
		<div class="sound-btn"><button class="toggle sound"></button></div>
		<div class="content centered">
			<div id="prev-next">
				<li><button id="prev" class="toggle arrow"></button></li>
				<li><img src="img/robot-placeholder-orange.png" title="Robot"></li>
				<li><button id="next" class="toggle arrow"></button></li>
			</div>
			<div id="question-content"></div>
			
		</div>
	</div>
</section>
