<section id="desafioprato">
	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div id="btn-enviar-prato"><button class="action white">Enviar<br>Prato</button></div>

	<img id="imgPrato" src="img/desafios/saude/prato/prato.png">
	<img class="alimentosSaudaveis" id="P-alface" src="img/desafios/saude/prato/alface.png">
	<img class="alimentosSaudaveis" id="P-arroz" src="img/desafios/saude/prato/arroz.png">
	<img class="alimentosSaudaveis" id="P-banana" src="img/desafios/saude/prato/banana.png">	
	<img class="alimentosSaudaveis" id="P-carne" src="img/desafios/saude/prato/carne.png">
	<img class="alimentosSaudaveis" id="P-cenoura" src="img/desafios/saude/prato/cenoura.png">
	<img class="alimentosSaudaveis" id="P-feijao" src="img/desafios/saude/prato/feijao.png">

	<img class="alimentosNaoSaudaveis" id="P-bombom" src="img/desafios/saude/prato/bombom.png">
	<img class="alimentosNaoSaudaveis" id="P-pirulito" src="img/desafios/saude/prato/pirulito.png">

	<img id="barraSaudavel" src="img/desafios/saude/prato/barra.png">
	<img id="biloto" src="img/desafios/saude/prato/biloto.png">
	<img id="nomeSaudavel" src="img/desafios/saude/prato/saudavel.png">
	<img id="nomeNaoSaudavel" src="img/desafios/saude/prato/naosaudavel.png">

	<!-- Robot help -->
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>	
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>

	
	
	</section>