<section id="desafioparquinho">
	<div class="sound-btn"><button class="toggle sound"></button></div>
	<div id="btn-enviar-parquinho"><button class="action white">Lorem<br>Ipsum</button></div>

	<img class="escorregador" id="escorregador" src="img/desafios/saude/parquinho/escorrega.png">
	<img class="campinho" id="campinho_futebol" src="img/desafios/saude/parquinho/campinho.png">
	<img class="balanco" id="balanco" src="img/animation/FaseLazer/Balanco2/Balanco_2_00000.png">
	<img class="gangorra" id="gangorra" src="img/animation/FaseLazer/Gangorra2/Gangorra_2_00000.png">
	<img class="tablet" id="tablet" src="img/desafios/saude/parquinho/tablet.png">
	<img class="tablet1" id="tablet1" src="img/desafios/saude/parquinho/table1t.png">
	<div id="animacaoGangorra"></div>
	<div id="animacaoEscorregador"></div>
	<div id="animacaoCelular"></div>
	<div id="animacaoBalanco"></div>


	<img id="barraSaudavel" src="img/desafios/saude/prato/barra.png">
	<img id="bilotoP" src="img/desafios/saude/prato/biloto.png">
	<img id="nomeSaudavel" src="img/desafios/saude/parquinho/cxa_muitaenergia.png">
	<img id="nomeNaoSaudavel" src="img/desafios/saude/parquinho/cxa_poucaenergia.png">

	<!-- Robot help --> 
	<div id="help" style="display: none;">
		<div class="backdrop">
			<div class="robot-help">
				<div class="content">
					<li><h4></h4></li>
					<li><p></p></li>	
				</div>
				<button id='repeat-btn' class='toggle repeat'></button>
				<button id='close-btn' class='toggle exit'></button>
			</div>
		</div>
		<div id="robot-help-mini" style="display: none;">
			<img src="img/help/robot-mini-blue.png" alt="Ajuda" title="Precisa de ajuda?">
		</div>
	</div>
</section>
