h1{
  font-family: Rubik;
  color: #717171;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.post{
  width: 95%;
}
.remember_me{
  float: left;
  font-size: 15px;
  margin-left: 25%;

}
.form{
  padding-left: 10px;
  border: 0;
  background-color: #CCCCCC;
  border-radius: 4px;
  width: 50%;
  height: 30px;
  color: #717171;
  transition: width 0.4s ease-in-out;
}
.form:focus {
    border-radius: 4px;
    width: 51%;
    border: 0;
    color: #717171;
}
body{
  background-color: #c0392b;
}
.login{
  background-color: #FFFFFF;
  box-shadow: 0px 2px 2px #A73D30;
  min-width: 700px;
  min-height: 400px;
  width: 20%;
  margin:auto;
  margin-top: 2%;
  padding: 25px;
  padding-top: 70px;
  font-family: Rubik;
  color: #717171;
}
.botao{
  text-decoration: none;
  align:left;
  margin-left: px;
  border: 0;
  background: #B44234;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin-top: 2%;
  margin-left: 25px;
  outline: 0;
  padding: 2px 25px;
}
.botao:active {
  background: #A73D30;
  transform: translateY(0.5px);
}
.login-help {
  margin: 20px 0;
  font-size: 14px;
  color: white;
  text-align: center;
  font-family: Rubik;
  }
.alf{
    color: #CCCCCC;
    text-decoration: none;
  }

.remember_me {
      float: left;
      line-height: 31px;
      border: 0;
 }
