/*NAV ----------------------------*/
.header{
  background-color:#c0392b;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 15px;
  box-shadow: 0px 2px 20px #521A14;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  position:absolute;
}
#l{
  margin-top: 10px;
  margin-right:30px;
  float: right;

  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 0.4;
}
#l:hover{
  opacity: 1;
  cursor: pointer;
}
.eve{
  font-size: 30px;
  font-family: Rubik;
}


/*CONFIRM LOGOUT ----------------------------*/
.confirm-logout{
  padding-top: 20px;
  position: fixed;
  width: 450px;
  height: 170px;
  border-radius: 10px;
  background: white;
  color: #717171;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -225px;
  border-width: 1px;
  border: 0 solid rgba(0,0,0,0.2);
}

.want-logout{ /*backgound*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#yes{
  border: 0;
  background: #B44234;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin-top: 25px;
  margin-bottom: 50px;
  outline: 0;
  padding: 8px 25px;

}

#no{
  border: 0;
  background: #B44234;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin-left: 5%;
  margin-top: 25px;
  outline: 0;
  padding: 8px 25px;

}

#yes:hover{
  background: #A73D30;
}

#no:hover {
    background: #A73D30;
}

#yes:active {
  background: #A73D30;
  transform: translateY(0.5px);
}

#no:active {
  background: #A73D30;
  transform: translateY(0.5px);
}

/*CONFIRM delete  ----------------------------*/
.confirm-delete{
  padding-top: 20px;
  position: fixed;
  width: 450px;
  height: 170px;
  border-radius: 10px;
  background: white;
  color: #717171;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -225px;
  border-width: 1px;
  border: 0 solid rgba(0,0,0,0.2);
}

.want-delete{ /*backgound*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#yesD{
  border: 0;
  background: #B44234;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin-top: 25px;
  margin-bottom: 50px;
  outline: 0;
  padding: 8px 25px;

}

#noD{
  border: 0;
  background: #B44234;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin-left: 5%;
  margin-top: 25px;
  outline: 0;
  padding: 8px 25px;

}

#yesD:hover{
  background: #A73D30;
}

#noD:hover {
    background: #A73D30;
}

#yesD:active {
  background: #A73D30;
  transform: translateY(0.5px);
}

#noD:active {
  background: #A73D30;
  transform: translateY(0.5px);
}

/*Arquivo vazio  ----------------------------*/
.confirm-file{
  padding-top: 20px;
  position: fixed;
  width: 450px;
  height: 150px;
  border-radius: 10px;
  background: white;
  color: #717171;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -225px;
  border-width: 1px;
  border: 0 solid rgba(0,0,0,0.2);
}

.file-alarm{ /*backgound*/
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#yesF{
  border: 0;
  background: #B44234;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin-top: 25px;
  margin-bottom: 50px;
  outline: 0;
  padding: 8px 25px;

}

#yesF:hover{
  background: #A73D30;
}


#yesF:active {
  background: #A73D30;
  transform: translateY(0.5px);
}
