.sidebar-brand-icon {
	background-image: url(../img/robot.png);
	background-size: contain;
	background-repeat: no-repeat;
	color: transparent;
}
.sidebar-brand-icon i {
	font-size: 3.5rem !important;
}

.bg-login-image {
    background-image: url("../img/login.png");
}

#city-name, #region-name  {
	font-weight: bold;
}
#city-empty, #region-empty  {
	display: none;
}
	
@media print {
   .to-screen {
       display: none !important;
    }
}